<h2>Differences between Subject, BehaviourSubject and ReplaySubject</h2>
<p>Emitted {{ emittedCount }} values</p>
<button (click)="startSubscribing()">Start Subscribing</button>
<button (click)="completeSubjects()">Complete Subjects</button>
<table>
  <tr>
    <th>Subject</th>
    <th>BehaviourSubject</th>
    <th>ReplaySubject</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li *ngFor="let val of subjectValues">
          {{ val }}
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let val of behaviourValues">
          {{ val }}
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let val of replayValues">
          {{ val }}
        </li>
      </ul>
    </td>
  </tr>
</table>
